server:
  port: 8080

spring:
  application:
    name: ecommerce-springboot

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate.format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  cache:
    type: redis

management:
  endpoints:
    web:
      exposure:
        include: health,info
